.box {
  border: 1px solid #000;
  padding: 5px;
  margin: 10px 0;
}

.IdCard {
  display: flex;
}

.CreditCard {
  margin: 10px;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  display: inline-block;
}

.CreditCard .type {
  text-align: right;
}

.CreditCard .number {
  font-size: 1.9em;
  text-align: center;
  margin: 20px 0;
}

.CreditCard .bank {
  margin-left: 20px;
}

.CreditCard .type img {
  height: 20px;
}

div {
  display: block;
}

.DriverCard {
  display: flex;
  background-color: #425cbb;
  color: white;
  margin: 5px;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.DriverCard img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 10px;
}

.DriverCard h2 {
  margin: 0;
  font-size: 30px;
}

.ClickablePicture img {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.Dice img {
  cursor: pointer;
}

.Dice img {
  height: 100px;
  width: 100px;
}
